

.containerouter {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerinner {
    margin: 0;
    width: 500px;
    border-color: #ffd43b;
    border-width: 6px;
    border-style: solid;
    background-color: white;
    text-align: center;
}

.loginTitle {
    font-size: 3rem;
    text-align: center;
    color: #f47c4b;
    font-weight: bold;
}

.usernameDiv {
    margin-bottom: 20px;
}

.btnDiv {
    margin: 25px 0 25px;
}

.txtInputs {
    width: 60%;
    height: 20px;
    border-radius: 8px;
    padding: 10px;
}

.lblLabels {
    color: #f47c4b;
    font-weight: bold;
    font-size: 1.5rem;
}

.loginBtnEntr {
    width: 25%;
    height: 45px;
    font-size: 15px;
    margin-right: 20px;
    background-color: forestgreen;
    color: white;
}

.loginBtnCncl {
    width: 25%;
    height: 45px;
    font-size: 15px;
    background-color: red;
    color: white;
}

.regDiv {
    margin-bottom: 60px;
}

.regLink {
    color: #f47c4b;
    font-weight: bold;
    text-decoration: none;
    font-size: 22px;
}

.errMsg{
    font-size:17px;
    font-weight:bold;
    
}
